@white: #fff;
@black: #4c4c4c;
@gray: #b3b3b3;
@light-gray: #dcdcdc;
@blue: #4285be;
@red: #ed6659;
@purple: #774a79;
@purple-lighten: lighten(@purple, 15%);
@purple-darken: darken(@purple, 10%);
@error: red;
@eye: black;


.shadow-1 {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.shadow-2 {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.shadow-3 {
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2), inset -1px -1px 2px rgba(0,0,0,0.2);
}

.textarea {
    max-width: 320px;
    width: 100%;
    padding: 5px;
    border: 1px solid @gray;
    border-radius: 5px;
    font: 14px/24px Arial, Helvetica, sans-serif;
    &:focus {.shadow-3;}
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font: 14px/24px Arial, Helvetica, sans-serif;
    color: @black;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    @media screen and (min-width: 569px) {
        padding: 0 40px;
    }
}

.container {
    display: table-row;
    height: 100%;
    padding: 0;
    .cols {
        float: left;
    }
}

.cols.col-12 {width: 100%;}
.cols.col-m-6,
.cols.col-s-6 {
    @media screen and (min-width: 569px) and (max-width: 768px) {
        width: 50%;
    }
}
.cols.col-l-6 {
    @media screen and (min-width: 769px) {
        width: 50%;
    }
}
.cols.col-l-4 {
    @media screen and (min-width: 769px) {
        width: 33.3333333333%;
        float: left;
    }
}
.cols.col-l-3 {
    @media screen and (min-width: 769px) {
        padding: 10px;
        width: 25%;
    }
}

.container:before,
.container:after,
.row:before,
.row:after,
.clear:before,
.clear:after {
    content: "";
    display: table;
}
.row:after,
.clear:after {
    clear: both;
}

a {
    text-decoration: none;
}
div {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.logo {
    margin: 40px 0;
    @media screen and (min-width: 769px) {
        text-align: left;
    }
    .logo__wrap {
        display: inline-block;
    }
}

.search {
    margin-bottom: 40px;
    @media screen and (min-width: 769px) {
        margin-top: 40px;
        text-align: right;
    }
    .search__field {
        max-width: 320px;
        width: 100%;
        padding: 5px 5px 5px 32px;
        border: 1px solid @gray;
        border-radius: 15px;
        background: url(../img/search-icon.png) no-repeat;
        background-size: 23px 23px;
        background-position: 5px;
    }
    .search__field:focus {.shadow-3;}
    .search__icon {
        position: absolute;
        top: 7px;
        left: 10px;
        width: 23px;
        height: 23px;
    }
}

.about-briefly {
    margin-bottom: 40px; 
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    @media screen and (min-width: 600px) {
        font-size: 2.5em;
        line-height: 1.2em;
    }
}

.books {
    &__pre {
        display: block;
        width: 80%;
        margin: 10px auto 50px auto;
        font-size: 1.5em;
    }
    &__items {
        text-align: center;
        float: none;
        .books__item {
            display: inline-block;
            margin-bottom: 60px;
            padding: 10px;
            vertical-align: top;
            font-size: 1.2em;
            cursor: pointer;
            float: none;
            @media screen and (min-width: 600px) {
                font-size: 1.5em;
            }
            &:hover {
                border: 1px dashed @red;
                .books__item__title {
                    color: @red;
                }
            }
            &__title {
                color: @blue;
            }
            &__info {
                color: @black;
            }
            &__info u {
                text-decoration: none;
            }
            .cover-small__wrap {
                display: inline-block;
            }
            .cover-small__wrap:hover {
                .shadow-2;
            }
        }
    }
    &__additive {
        margin: -20px 0 60px 0;
        &__button {
            width: 100%;
            max-width: 320px;
            padding: 10px;
            border: 2px solid @blue;
            border-radius: 10px;
            color: @blue;
            font-size: 1.3em;
            background: @white;
            cursor: pointer;
            &:hover {
                border: 2px solid @red;
                color: @red;
                .shadow-1;
            }
        }
    }
}

.about {
    &__wrap {
        display: inline-block;
        padding-bottom: 0;
        vertical-align: top;
    }
}

.book {
    &__data {
        .book__reviews {
            &__item {
                margin-bottom: 60px;
            }
            &__author {
                margin-bottom: 25px;
            }
            &__cite {
                font-size: 1.3em;
                &:before {content: '«'; display: inline-block; font-size: 2em;}
                &:after {content: '»'; display: inline-block; font-size: 2em;}
            }
        }
        .book__wrap {
            .book__image {
                /* EYE */
                position: relative;
                img {
                    position: relative;
                    .shadow-2;
                    z-index: 2;
                }
            }
            .book__description {
                margin: 40px 0 60px;
                font-size: 1.5em;
                strong {
                    color: @red;
                }
            }
        }
        .book__features {
            &__item {
                margin-bottom: 60px;
            }
            &__title {
                font-size: 1.3em;
            }
        }
    }
    &__buy {
        .button_buy {
            display: block;
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
            padding: 10px;
            border-radius: 10px;
            color: @white;
            font-size: 2em;
            line-height: 1.5em;
            background: @purple;
            .shadow-2;
            &:hover {
                background: linear-gradient(to top, @purple-darken 0%, @purple-darken 20%, @purple-lighten 100%);
            }
            &:focus {
                box-shadow: none;
                background: @purple;
            }
        }
    }
    &__buy-text {
        margin: 30px 0 10px;
        font-size: 1.2em;
        color: @light-gray;
        font-style: italic;
    }
    &__buy-img {
        margin-bottom: 60px;
    }
    #book__data {
        @media screen and (max-width: 768px) {
            display: table; width: 100%;
        }
        .col-l-4 {
            @media screen and (min-width: 769px) {
                width: 33.3333333333%;
                float: left;
            }
        }
    }
    #book__reviews {
        padding-right: 20px;
        @media screen and (max-width: 768px) {
            display: table-row-group;
        }
    }
    #book__wrap {
        @media screen and (max-width: 768px) {
            display: table-header-group;
        }
    }
    #book__features {
        padding-left: 20px;
        @media screen and (max-width: 768px) {
            display: table-footer-group;
        }
    }
}

.order {
    &__header {
        &__text {
            display: block;
            width: 80%;
            margin: 10px auto 50px auto;
            font-size: 1.5em;
            @media screen and (min-width: 769px) {
                margin-top: 0;
                text-align: left;
            }
            &__link {
                color: #4285be;
                &:hover {
                    color: @red;
                }
            }
        }
        &__currency {
            margin-bottom: 40px;
            @media screen and (min-width: 769px) {
                text-align: right;
            }
            option {
                width: 100%;
            }
            select {
                width: 100%;
                max-width: 320px;
                display: inline-block;
                padding: 5px;
                border: 1px solid #b3b3b3;
                border-radius: 5px;
            }
        }
    }
    &__form {
        &__image {
            margin-bottom: 40px;
            @media screen and (min-width: 769px) {
                padding-left: 20px;
                float: right !important;
            }
        }
        &__left-block {
            @media screen and (min-width: 769px) {
                padding-right: 20px;
            }
            .customer-data {
                input {
                    max-width: 320px;
                    width: 100%;
                    padding: 5px 5px 5px 10px;
                    border: 1px solid @gray;
                    border-radius: 15px;
                }
                input:focus {.shadow-3;}
                .customer__name,
                .customer__phone,
                .customer__email {
                    margin-bottom: 20px;
                }
            }
            .delivery {
                margin-bottom: 20px;
            }
            .delivery__address {
                display: none;
                margin-bottom: 20px;
                & textarea {
                    .textarea;
                }
            }
        }
        &__right-block {
            @media screen and (min-width: 769px) {
                padding: 0 20px;
            }
            .comment {
                margin-bottom: 20px;
                & textarea {
                    .textarea;
                }
            }
            .payment {

            }
        }
        &__checkout {
            margin: 40px 0 60px;
            &__title {
                margin-bottom: 5px;
                font-size: 1.3em;
            }
            &__submit {
                .btn_submit {
                    display: inline-block;
                    width: 100%;
                    max-width: 320px;
                    padding: 10px;
                    border: 2px solid @blue;
                    border-radius: 10px;
                    color: @blue;
                    font-size: 1.3em;
                    background: @white;
                    cursor: pointer;
                    &:hover {
                        border: 2px solid @red;
                        color: @red;
                        .shadow-1;
                    }
                }
                .error-field {
                    margin: 0 auto;
                }
            }
        }
    }
    &__success {
        margin-bottom: 60px;
        font-size: 2.5em;
        line-height: 1.1em;
    }
    &__error {
        margin-bottom: 60px;
        font-size: 2.5em;
        color: @error;
        line-height: 1.1em;
    }
    .data__title {
        display: block;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        text-align: left;
    }
    .error-field,
    .error-field_email {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        color: @error;
        text-align: left;
    }
    .data__wrap {
        .payment__items,
        .delivery__items {
            width: 100%;
            max-width: 320px;
            display: inline-block;
        }
        .payment__item,
        .delivery__item {
            text-align: left;
        }
    }
}

.about-block {
    margin-bottom: 60px;
    .intro {
        display: block;
        margin: 10px auto 50px auto;
        font-size: 1.5em;
        @media screen and (min-width: 569px) {
            width: 80%;
        }
    }
    .story {
        margin: 0 auto;
        @media screen and (min-width: 569px) {
            width: 60%;
        }
    }
    .foto {
        text-align: center;
        .space {
            display: inline-block;
        }
    }
    .workers {
        margin: 0 auto;
        @media screen and (min-width: 569px) {
            width: 60%;
        }
        .story__banner {
            margin: 20px 0;
            font-size: 1.5em;
            line-height: 1.5em;
            font-style: italic;
        }
    }
    .story__title {
        width: 100%;
        margin: 30px 0 20px 0;
        font-size: 1.5em;
        text-align: left;
        font-weight: bold;
    }
    .story__title-sub {
        width: 100%;
        margin: 30px 0 20px 0;
        font-size: 1.2em;
        text-align: left;
        font-weight: bold;
    }
    .story__text {
        width: 100%;
        margin: 20px 0;
        font-size: 1.2em;
        text-align: left;
        ul {
            padding-left: 20px;
        }
    }
}

/* eye */
#jseyeposition {
    width: 100%;
    margin: 0 auto;
}
#jseyeslayer {
    @media screen and (max-width: 569px) {
        display: none !important;
    }
    position: absolute;
    top: 60%;
    left: 50%;
    width:100px;
    height:100px;
    margin-top: -60px;
    margin-left: -50px;
    border-radius: 50%;
    border: 3px solid @eye;
    background: @white;
    z-index: 6;
}
#jseye {
    position:absolute;
    left:47px;
    top:47px;
    width:20px;
    height:20px;
    border: 1px solid @eye;
    border-radius: 50%;
    background: @eye;
}
#blinking {
    position: absolute;
    width:100px;
    height:100px;
    width:100px;
    height:100px;
    top: -3px;
    left: -3px;
    border: 0;
    border-radius: 50%;
    z-index: 10;
    animation: move 4s linear 1 forwards;
    animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}
@keyframes move {
    0%  {
        border-top: 0px solid @eye;
        border-bottom: 0px solid @eye;
    }
    48% {
        border-top: 0px solid @eye;
        border-bottom: 0px solid @eye;
    }
    50% {
        border-top: 50px solid @eye;
        border-bottom: 50px solid @eye;
    }
    52% {
        border-top: 0px solid @eye;
        border-bottom: 0px solid @eye;
    }
    100% {
        border-top: 0px solid @eye;
        border-bottom: 0px solid @eye;
    }
}

/* c-shield */
.c-shield {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 99999;
}

.c-shield-bgr {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: @black;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    z-index: 1;
}

.c-shield-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 78px;
    height: 78px;
    margin: -39px 0 0 -39px;
    overflow: hidden;
    z-index: 2;
}

.c-shield-loading .c-shield-loading-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 78px;
    height: 936px;
    background: url(../img/c-shield-loading3.png) 0 0 no-repeat;
}

.c-templates {
    display: none;
}